<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreTweet" version="0.7.1.345" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="POGOProtos" version="1.6.0" targetFramework="net452" />
  <package id="PokemonGo.RocketAPI" version="1.0.0-beta" targetFramework="net452" />
</packages>